body {
    background-color: gainsboro !important;
    height: auto;
    /* overflow-x: hidden; */
}

@media (max-width: 1400px) {
    body {
        height: 100% !important;
    }
}

h4 {
    color: white !important;
}

.borderless td, .borderless th {
    border: none;
    vertical-align: middle;
    text-align: center;
}

/* th, td, li {
    color: white !important;
    background-color: #383c45 !important;
} */

li:hover {
    background-color: #464a54 !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
    padding: 0 !important;
}

/* tbody {
    border: 1px solid gold !important;
} */

.back {
    background-image: linear-gradient(-225deg, #18053e 0%, #835fa2 52%, #2B86C5 100%);
}

.backFocus {
    background-image: linear-gradient(-225deg, #030008 0%, #0b0213 52%, #0a1822 100%);
}

.bg-success {
    background-color: rgba(33,93,59,255) !important;
    color: white !important;
}

.swal2-container {
  z-index: 10000;
}

.selectFocus:focus {
    background-color: rgb(16, 125, 197) !important;
}

.bg-danger {
    background-color: #b91414 !important;
}

.textCard1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 135px;
  text-align: center;
}

/* CSS */
/* .button-74 {
  background-color: #fbeee0;
  border: 2px solid #181003;
  box-shadow: #0f0d0a 4px 4px 0 0;
  color: #0f0d0a;
  cursor: pointer;
  display: inline-block;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #0f0d0a 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
} */

.button-74{
    background: #00b7f8;
    border-bottom: 5px solid rgb(13, 49, 17);
    border-radius: 12px;
    box-shadow: 6px 6px 6px #999;
    color: #fff;
    cursor: pointer;
    display: block;  
    /* margin: auto; */
    padding: 4px 4px;
    transition: all 0.2s ease 0s;
  }

.button-75{
    background: #00b7f8;
    border-bottom: 5px solid rgb(68, 4, 4);
    border-radius: 12px;
    /* box-shadow: 6px 6px 6px #999; */
    color: #fff;
    cursor: pointer;
    display: block;  
    margin: auto;
    padding: 10px 10px;
    transition: all 0.2s ease 0s;
  }

.button-76{
    background: #00b7f8;
    border-bottom: 5px solid rgb(13, 49, 17);
    border-radius: 12px;
    /* box-shadow: 6px 6px 6px #999; */
    color: #fff;
    cursor: pointer;
    height: auto;
    width: 100%;
    display: block;  
    /* margin: auto; */
    padding: 10px 10px;
    transition: all 0.2s ease 0s;
  }

.button-78{
    background: #00b7f8;
    border-bottom: 5px solid rgb(13, 49, 17);
    border-radius: 12px;
    /* box-shadow: 6px 6px 6px #999; */
    color: #fff;
    cursor: pointer;
    height: auto;
    /* width: 100%; */
    display: block;  
    /* margin: auto; */
    padding: 10px 10px;
    transition: all 0.2s ease 0s;
  }

.button-77{
    background: #00b7f8;
    border-bottom: 5px solid rgb(13, 49, 17);
    transition: all 0.2s ease 0s;
    width: 32px;
  }
  
  .button-74:hover{
    background: rgb(21, 90, 29) !important;
  }

  .button-76:hover{
    background: rgb(21, 90, 29) !important;
  }

  .button-78:hover{
    background: rgb(21, 90, 29) !important;
  }

  .button-77:hover{
    background: rgb(21, 90, 29) !important;
  }

  .button-75:hover{
    background: rgb(87, 6, 16) !important;
  }
  .button-74:active {
      box-shadow: 2px 2px 2px #777, 0px 0px 35px 0px rgba(33,93,59,255);
      border-bottom:1px solid rgba(33,93,59,255);
    /* text-shadow:  0px 0px 5px #fff, 0px 0px 5px #fff; */
      transform: translateY(4px);
    transition: all 0.1s ease 0s;
  }

  .button-75:active {
      box-shadow: 2px 2px 2px #777, 0px 0px 35px 0px rgba(33,93,59,255);
      border-bottom:1px solid rgba(33,93,59,255);
    /* text-shadow:  0px 0px 5px #fff, 0px 0px 5px #fff; */
      transform: translateY(4px);
    transition: all 0.1s ease 0s;
  }

  .button-76:active {
      box-shadow: 2px 2px 2px #777, 0px 0px 35px 0px rgba(33,93,59,255);
      border-bottom:1px solid rgba(33,93,59,255);
      transform: translateY(4px);
    transition: all 0.1s ease 0s;
  }

  .button-78:active {
      box-shadow: 2px 2px 2px #777, 0px 0px 35px 0px rgba(33,93,59,255);
      border-bottom:1px solid rgba(33,93,59,255);
      transform: translateY(4px);
    transition: all 0.1s ease 0s;
  }

  .button-77:active {
      box-shadow: 2px 2px 2px #777, 0px 0px 35px 0px rgba(33,93,59,255);
      border-bottom:1px solid rgba(33,93,59,255);
      transform: translateY(4px);
    transition: all 0.1s ease 0s;
  }
